// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.toolbar-background{ background: #0093cf;}
.p-side_menu{ }
.p-side_menu {
    height: 195px;
    
    .toolbar-background{
         background-image: url(../assets/images/side_menu.png); 
         background-size: cover;
    }
}
.p-side_list {
    &.item{padding-left: 0;}

    .item-inner{ 
        padding: 5px 0;
    }
}
.p-item_wrap{ display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center;}
.p-item_wrap {
    img{ 
        margin-right: 20px; 
        margin-left: 30px; 
        width: 20px; 
        height: auto;
    }
}












