@font-face{
font-family: Raleway_md;
src: url('../assets/fonts/Raleway-md.woff2') format('woff2');
}
@font-face{
font-family: Raleway_sb;
src: url('../assets/fonts/Raleway-sb.woff2') format('woff2');
}
@font-face{
font-family: Lato;
src: url('../assets/fonts/Lato.woff2') format('woff2');
}
 
*{
font-family: Raleway_md;
}


.toolbar-background{ background: $theme-bg;}
ion-title{ position:  absolute; top: 0; left: 0; width: 100%; height: 100%; text-align: center; z-index: -1;}

.p-side_menu {
    height: 195px;

    .toolbar-background{
         background-image: url(../assets/images/side_menu.png); 
         background-size: cover;
         background-position: center;
    }
}
.p-side_list {
    &.item{padding-left: 0;}

    .item-inner{ 
        padding: 5px 0;
    }
}
.p-item_wrap {
    display: flex;
    align-items: center;

    img{ 
        margin-right: 20px; 
        margin-left: 30px; 
        width: 20px; 
        height: auto;
    }
}












