
<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar class="p-side_menu">
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <div class="p-side_list" menuClose ion-item *ngFor="let p of pages" (click)="openMenu(p.component)">
        <div class="p"><img src="{{'../assets/images/' + p.title + '.png'}}"><span>{{p.title}}</span></div>
      </div>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>

