page-list {

}
.p-head_txt{ color: #fff; text-transform: uppercase; padding-right: 50px;}
.p-head_wrap{ display: flex; align-items: center; padding: 0 15px;}
.back-button{ color: #fff;}

.card-md p.p-desc{ font-size: 1.2rem; color: #0093cf;}