
 
<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <div class="p-head_wrap">
    
    
    <ion-title text-center><span class="p-head_txt">Cover Stories</span></ion-title>

    </div>
  </ion-navbar>
</ion-header>
<ion-content class="feed-list">
  <ion-spinner *ngIf="loading" id="feed-spinner"></ion-spinner>
   
  <ion-scroll scrollY="true"  style="height: 100%;">
  <ion-card *ngFor="let item of articles" (click)="openArticle(item.link)" >
 
    <ion-card-content>
        <img src="img1.png" alt="">
      <h2 class=p-heading>{{item.title}}</h2>
           <p class="p-desc" [innerHtml]="item.description"></p>
    </ion-card-content>
      </ion-card>  
  </ion-scroll>

  <ion-row *ngIf="!selectedFeed">
    <ion-col text-center>
      Select at least one feed
    </ion-col>
  </ion-row>
</ion-content>