<ion-header>
  <ion-navbar>
    <div class="p-head_wrap">
      <ion-title text-center><span class="p-head_txt">Cover Stories</span></ion-title>
    </div>
  </ion-navbar>
</ion-header>
<ion-content class="feed-list" padding>
  <ion-spinner *ngIf="loading" id="feed-spinner"></ion-spinner>
  <ion-card *ngFor="let item of articles" (click)="openArticle(item.link)">

    <ion-card-content>
      <h2>{{item.title}}</h2>
      <p class="p-desc" [innerHtml]="item.description"></p>
    </ion-card-content>
  </ion-card>

  <ion-row *ngIf="!selectedFeed">
    <ion-col text-center>
      Select at least one feed
    </ion-col>
  </ion-row>
</ion-content>
