
 
<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><span class="p-head_txt">Cover Stories</span></ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="feed-list" padding>
  <ion-spinner *ngIf="loading" id="feed-spinner"></ion-spinner>
  <ion-card *ngFor="let item of articles" (click)="openArticle(item.link)" class="feed-article">
    <img [src]="extarctImage(item.description)">
    <ion-card-header>
       <ion-item class="item item-text-wrap">{{item.title}}</ion-item><br>
    </ion-card-header>
    <ion-card-content>
           <p [innerHtml]="item.description"></p>
    </ion-card-content>
      </ion-card>
  <!-- <ion-list *ngIf="selectedFeed" class="spinner">
    <ion-item *ngFor="let item of articles" (click)="openArticle(item.link)" class="feed-article">
      <div class="article-title">{{item.title}}</div><br>
      <p [innerHtml]="item.description"></p>
    </ion-item>
  </ion-list> -->
  <ion-row *ngIf="!selectedFeed">
    <ion-col text-center>
      Select at least one feed
    </ion-col>
  </ion-row>
</ion-content>