<ion-header>
  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <div class="p-head_wrap">


      <ion-title text-center><span class="p-head_txt">Cover Stories</span></ion-title>

    </div>
  </ion-navbar>
</ion-header>
<ion-content class="feed-list">
  <ion-spinner *ngIf="loading" id="feed-spinner"></ion-spinner>

  <ion-scroll scrollY="true" style="height: 100%;">
    <ion-card *ngFor="let item of articles" (click)="openArticle(item.link)">

      <!-- <ion-card-content>
        <img [src]="item.thumbnail" alt="">
      <h2 class=p-heading>{{item.title}}</h2>
           <p class="p-desc" [innerHtml]="item.description"></p>
    </ion-card-content> -->


      <img [src]="item.thumbnail">
      <ion-fab right top> <button ion-fab> <ion-icon name="pin"></ion-icon> </button> </ion-fab>
      <ion-item>
        <ion-icon name="football" item-start large></ion-icon>
        <h2>{{item.title}}</h2>
      </ion-item>
      <ion-item>
        <ion-icon name="wine" item-left large></ion-icon>
        <h2>Institute of Fine Cocktails</h2>
        <p>14 S. Hop Avenue, Madison, WI 53703</p>
      </ion-item>
      <ion-item> <span item-left>18 min</span> <span item-left>(2.6 mi)</span> <button ion-button icon-left clear item-end> <ion-icon name="navigate"></ion-icon> Start </button>        </ion-item>
    </ion-card>
  </ion-scroll>

  <ion-row *ngIf="!selectedFeed">
    <ion-col text-center>
      Select at least one feed
    </ion-col>
  </ion-row>
</ion-content>
