page-list {

 
  #feed-spinner {
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 100px;
  }
  .p-head_txt{ color: $white; text-transform: uppercase;}
  
  .back-button{ color: $white;}

  .card-md {
    .p-heading{ color: #333; font-weight: bold;}

    p.p-desc{ 
      font-size: 1.2rem; 
      color: #666;
    }

    .p-pub_date{ font-family: Lato;}
  }

}
