<ion-header>

  <ion-navbar>
    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <div class="p-head_wrap">
    <img src="../../assets/images/Icon - Menu.png" ion-button menuToggle>

    <ion-title text-center><span class="p-head_txt">IEEE RSS Aggregator</span></ion-title>
    
    <img src="../../assets/images/add.png" (click)="addFeed()" >
    </div>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
   
    <ion-item *ngFor="let feed of feeds">
      <ion-label>
        <div class="bx-wraper">
        <div class="label label-md cust_lab">
        <h2>{{feed.title}}</h2>
        <p>{{feed.url}}</p>
              <!-- <ion-icon class="" name="ios-remove-circle-outline"></ion-icon> -->
            </div>
            <div *ngIf="!feed.isReadOnly" class="item item-button-right middel_btn" >
     
        <button  class="button button-positive" (click)="removeFeeds(feed)">
       DELETE
        </button>
      </div>
      </div>
      </ion-label>

  
      <ion-toggle *ngIf="feed.isReadOnly" [(ngModel)]="feed.status" (ionChange)="updateStaticFeeds(feed)"></ion-toggle>

       
    </ion-item>
   

  </ion-list>
  <!-- <button ion-button full (click)="addFeed()" action secondary>
      <ion-icon name="add"></ion-icon> Add Feed
    </button> -->
  
  <div text-center class="p-feed_btn">
    <button ion-button round (click)="pushPage()">View Feeds</button>
  </div>
</ion-content>
