<ion-header>

  <ion-navbar>

    <div class="p-head_wrap">
      <img class="p-menu_toggle" src="assets/images/Icon - Menu.png" menuToggle>

      <ion-title text-center><span class="p-head_txt">IEEE RSS Aggregator</span></ion-title>

      <img class="p-add" src="assets/images/add.png" (click)="addFeed()">
    </div>

    <ion-item>
        <button ion-button item-start menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        
        <ion-title text-center><span class="p-head_txt">IEEE RSS Aggregator</span></ion-title>

        <button ion-button item-end (click)="addFeed()">
          <ion-icon name="menu"></ion-icon>
        </button>
    </ion-item>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item *ngFor="let feed of feeds">
      <ion-label>
        <div class="bx-wraper">
          <div class="label label-md cust_lab">
            <h2>{{feed.title}}</h2>
            <p>{{feed.url}}</p>
          </div>
          <div *ngIf="!feed.isReadOnly" class="item item-button-right middel_btn">
            <img style="width: 20px;" class="button button-positive" src="assets/images/delete.png" (click)="removeFeeds(feed)">
          </div>
        </div>
      </ion-label>
      <ion-toggle *ngIf="feed.isReadOnly" [(ngModel)]="feed.status" (ionChange)="updateStaticFeeds(feed)"></ion-toggle>
    </ion-item>
  </ion-list>

  <div text-center class="p-feed_btn">
    <button ion-button large round (click)="pushPage()">View Feeds</button>
  </div>
</ion-content>
