<ion-header>

  <ion-navbar>


    <div class="p-head_wrap">
        <button class="p-menu_toggle" ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
        
        <ion-title text-center><span class="p-head_txt">IEEE RSS Aggregator</span></ion-title>

        <button class="p-add" ion-button clear icon-only (click)="addFeed()">
          <ion-icon name="add"></ion-icon>
        </button>
    </div>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list class="p-feed_list">

    <ion-item *ngFor="let feed of feeds">
      <ion-label>
        <div class="bx-wraper">
          <div class="label label-md cust_lab">
            <h2 class="p-feed_head">{{feed.title}}</h2>
            <p class="p-feed_link">{{feed.url}}</p>
          </div>
          <div *ngIf="!feed.isReadOnly" class="item item-button-right middel_btn">
            <button style="width: 20px;" ion-button icon-only clear color="danger" class="button button-positive" (click)="removeFeeds(feed)">
                <ion-icon name="trash"></ion-icon>
            </button>
            
            
          </div>
        </div>
      </ion-label>
      <ion-toggle *ngIf="feed.isReadOnly" [(ngModel)]="feed.status" (ionChange)="updateStaticFeeds(feed)"></ion-toggle>
    </ion-item>
  </ion-list>

  <div text-center class="p-feed_btn">
    <button ion-button large round (click)="pushPage()">View Feeds</button>
  </div>
</ion-content>
