page-home {
 .cust_lab{
     margin: 0;
display: block;
overflow: hidden;
-webkit-box-flex: 1;
-webkit-flex: 1;
-ms-flex: 1;
flex: 1;
font-size: inherit;
text-overflow: ellipsis;
white-space: nowrap;

 }
.bx-wraper{display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
overflow: hidden;
-webkit-box-flex: 1;
-webkit-flex: 1;
-ms-flex: 1;
flex: 1;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: inherit;
-ms-flex-direction: inherit;
flex-direction: inherit;
-webkit-box-align: inherit;
-webkit-align-items: inherit;
-ms-flex-align: inherit;
align-items: inherit;
-webkit-align-self: stretch;
-ms-flex-item-align: stretch;
align-self: stretch;
text-overflow: ellipsis;
}
.middel_btn{align-items: center; display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;}
}

.p-head_txt{ color: #fff; text-transform: uppercase;}
.p-head_wrap{ display: flex; align-items: center; padding: 0 15px;}
.p-head_wrap .p-menu_toggle{ order: 0;}
.p-head_wrap .p-add{ width: 30px;}

.scroll-content{ display: flex; flex-direction: column;}
.p-feed_btn{ margin-top: auto;}
.p-feed_btn button{ background: #0093cf; padding: 30px 85px;}

.alert-wrapper{ height: 400px; max-width: 350px;}
.alert-button-group{ margin-top: auto;}
.alert-head{ background: #0093cf; color: #fff;}
