$font-path: "../assets/fonts";
$app-direction: ltr;


@import "ionic.globals";




$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222

  
);

//Custom Variables
$theme-bg: #0093cf;
$white: #fff;



@import "ionic.theme.default";




@import "ionic.ionicons";




@import "roboto";
@import "noto-sans";
